* {
  margin: 0;
  padding: 0;
}

.content {
  grid-area: content;
  background-color: lightgray;
  border-bottom: solid lightgray 1px;
  height: 666px;
}
.main-nav {
  grid-area: nav;
  background-color: #e06857;
  border-bottom: solid #e06857 1px;
}
.navbar {
  list-style: none;
  align-items: center;
  height: 8px;
  padding: 1em;
  position: relative;
}
.logo {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 2px;
  padding-top: 5px;
  cursor: pointer;
}
.navbar li {
  display: inline;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: medium;
  padding-right: 30px;
  align-items: center;
}
.navbar a:hover {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

/*hamburger icon*/
.hamburger {
  display: inline-block;
  cursor: pointer;
  padding-top: 5px;
}
.bar1, .bar2, .bar3 {
  width: 28px;
  height: 3px;
  background-color: white;
  margin: 4px 6px 4px 6px;
  transition: 0.4s;
}
.change .bar1 {
  transform: rotate(-45deg)  translate(-3px, 3px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
/*hamburger icon*/


.side {
  grid-area: sidebar;
  border: solid white 1px;
  background: white;
  color: #e06857;
}
.sideList {
  display: grid;
  grid-auto-rows: minmax(45px, auto);
  grid-gap: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.sideCard {
  background-color: #EEEEEE;
  border: solid #EEEEEE 1px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding-top: 13px;
  font-size: 13px;
}
#search {
  height: 50px;
  /*color: lightgray;*/
  font: blue;
  border: solid #EEEEEE 1px;
  border-radius: 5px;
  font-size: small;
  padding-left: 15px;
  width: 100%;
}
#allDrivers {
  height: 85px;
}
#allJobs {
  height: 132px;
}
#options {
  background-color: #EEEEEE;
  border: solid #EEEEEE 1px;
  color: #e06857;
  height: 30px;
  width: 144px;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  margin-top: 35px;
  margin-left: 20px;
  font-size: 13px;
}
.sideCardHeader {
  padding-bottom: 10px;
}
.drivers {
  width: 220px;
  background-color: white;
  display: inline-grid;
  grid-auto-rows: minmax(15px, 0px);
  grid-row-gap: 0px;
  grid-gap: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  padding-right: 10px;
  justify-items: start;
  grid-template-columns: 35px 1fr 1fr;
  grid-template-areas:
  "image name available"
  ". jobs minutes"
}
.red {
  color: #ED2027;
}
.reddish {
  color: #E78C7E;
}
.green {
  color: #22D795;
}
.available {
  color: black;
  font-size: small;
}
.normText {
  color: black;
  font-size: small;
}
.jobs {
  width: 220px;
  background-color: white;
  display: inline-grid;
  grid-auto-rows: minmax(15px, 0px);
  grid-row-gap: 0px;
  grid-gap: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "a b"
  ". ."
  "a ."
  "a ."
  "a b"
}
.justifyEnd {
  justify-self: end;
}


.wrapper {
  background-color: pink;
  display: grid;
  grid-auto-rows: minmax(25px, auto);
  /*grid-gap: 20px;*/
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "content"
  "content"
  "content"
  "sidebar";
}


/* two columns when it's bigger than iphone*/
/*iPhone 6s plus width is 750px */
@media (min-width: 767px) {
  .wrapper {
    background-color: beige;
    grid-template-columns: 270px 4fr;
    grid-template-areas:
    "nav     nav"
    "sidebar content"
    "sidebar content"
    "sidebar content"
    "sidebar content"
    "sidebar content";
  }
  nav ul {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: flex-end;
  }
}

/* hide navbar list items on mobile screens */
/*iPhone 6s plus width is 750px */
@media (max-width: 767px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  .navbar li:not(:last-child) {display: none;}
  .content {
    height: 450px;
  }
}
